---
name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
  # Run this every day at 01:00 UTC.
  - cron: 0 1 * * *

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test-artifacts:
    name: Build test artifacts
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        # By default actions/checkout checks out a merge commit. Check out the PR head instead.
        # https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
        ref: ${{ github.event.pull_request.head.sha }}
    - run: |
        rustup update stable && rustup default stable
    - uses: actions/cache@v5
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Install nextest
      run: |
        which cargo-nextest || cargo install --locked cargo-nextest
    - name: Build and archive tests
      run: cargo nextest archive -F test_ci --archive-file tests.tar.zst
    - name: Upload archive to workflow
      uses: actions/upload-artifact@v4
      with:
        name: nextest-archive
        path: tests.tar.zst
  
  run-tests-partitioned:
    name: Run tests with partitioning
    runs-on: ubuntu-latest
    needs: build-test-artifacts
    strategy:
      matrix:
        partition: [1, 2]
    steps:
    # The source directory must be checked out.
    - uses: actions/checkout@v4
      with:
        # By default actions/checkout checks out a merge commit. Check out the PR head instead.
        # https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
        ref: ${{ github.event.pull_request.head.sha }}
    - run: |
        rustup update stable && rustup default stable
    - uses: actions/cache@v5
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Install nextest
      run: |
        which cargo-nextest || cargo install --locked cargo-nextest
    - name: Download archive
      uses: actions/download-artifact@v4
      with:
        name: nextest-archive
    - name: Run tests
      run: |
        cargo xtask ci -- \
          --partition count:${{ matrix.partition }}/2
